.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: teal;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  
  
   .topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }
  
  
  .topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  
